<h2>browsing random images</h2>
  <% @media.each do |media_item| %>
    <div class="source">
      <a href="<%= media_item.link %>">source</a>
    </div>
    <div class="bubble">
      <img src="<%= media_item.images.standard_resolution.url %>">
      <% if logged_in? %>
        <div class="tags">
          <% media_item.tags.each do |tag| %>
            <% if @usertags.include?(tag) %>
              <span class="tag"><a href="/users/<%= session[:id] %>/tag/<%= tag %>" class="tagged"><%= tag %></a></span>
            <% else %>
              <span class="tag"><a href="/users/<%= session[:id] %>/tag/<%= tag %>"><%= tag %></a></span>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="tags">
          <% media_item.tags.each do |tag| %>
            <span class="tag"><a href="/tags/<%= tag %>"><%= tag %></a></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>