<h2>browsing customized feed</h2>
  <% if @tags.length > 0 %>
    <% @tags.each do |tag| %>
      <% all_media_items = @client.tag_recent_media(tag[0].name)%>
      <% media_items = [] %>
      <% 5.times{ media_items << all_media_items.sample } %>
      <% media_items.each do |media_item| %>
        <span class="source">
          <a href="<%= media_item.link %>">source</a>
        </span>
        <span class="likes">
          <%= media_item.likes[:count] %> Likes
        </span>
        <div class="bubble">
          <img src="<%= media_item.images.standard_resolution.url %>">
          <% if media_item.caption %>
            <p><%= media_item.caption.text.split('#')[0] %></p>
          <% end %>
          <div class="tags">
            <% media_item.tags.each do |tag| %>
              <% if @usertags.include?(tag) %>
                <span class="tag"><a href="/users/<%= session[:id] %>/tag/<%= tag %>" class="tagged"><%= tag %></a></span>
              <% else %>
                <span class="tag"><a href="/users/<%= session[:id] %>/tag/<%= tag %>"><%= tag %></a></span>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="bubble">
      <p>You have no tracked tags!  Go search for something</p>
    </div>
  <% end %>