<% if logged_in? %>
<h2>You searched for: <%= @tags[0].name %>.</h2>
  <% @client.tag_recent_media(@tags[0].name).each do |media_item| %>
    <span class="source">
      <a href="<%= media_item.link %>">source</a>
    </span>
    <span class="likes">
      <%= media_item.likes[:count] %> Likes
    </span>
    <div class="bubble">
      <img src="<%= media_item.images.standard_resolution.url %>">
      <% if media_item.caption %>
        <p><%= media_item.caption.text.split('#')[0] %></p>
      <% end %>
      <div class="tags">
        <% media_item.tags.each do |tag| %>
          <% if @usertags.include?(tag) %>
            <span class="tag"><a href="/users/<%= session[:id] %>/tag/<%= tag %>" class="tagged"><%= tag %></a></span>
          <% else %>
            <span class="tag"><a href="/users/<%= session[:id] %>/tag/<%= tag %>"><%= tag %></a></span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= erb :not_logged_in %>
<% end %>