<h2>Tag Name = <%= @tags[0].name %>. Media Count =  <%= @tags[0].media_count %>. </h2>
  <% @client.tag_recent_media(@tags[0].name).each do |media_item| %>
    <div class="bubble">
      <a href="<%= media_item.link %>"><img src="<%= media_item.images.standard_resolution.url %>"></a>
      <div class="tags">
        <% media_item.tags.each do |tag| %>
          <% if @usertags.include?(tag) %>
            <span class="tag"><a href="/user/<%= session[:id] %>/tag/<%= tag %>" class="tagged"><%= tag %></a></span>
          <% else %>
            <span class="tag"><a href="/user/<%= session[:id] %>/tag/<%= tag %>"><%= tag %></a></span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>