<h2>Tag Name = <%= @tags[0].name %>. Media Count =  <%= @tags[0].media_count %>. </h2>
  <% for media_item in @client.tag_recent_media(@tags[0].name) %>
    <div class="searchimage">
      <a href="<%= media_item.link %>"><img src="<%= media_item.images.standard_resolution.url %>"></a>
      <div class="tags">
        <% media_item.tags.each do |tag| %>
          <span class="tag"><%= tag %></span>
        <% end %>
      </div>
    </div>
  <% end %>